#swiperPart{
    background-color: red;
    max-width: 100%;
    .swiperContainer{
        background-color: #D43157;
        max-width: 100%;
   
    
        .swiperslide{
            background-color: transparent;
             height: 500px;
             display: flex;
             max-width: 1400px;
             margin: 0 auto;
             justify-content: space-between;
             align-items: center;
             position: relative;
             @media (max-width:768px) {
                flex-direction: column;
                padding: 20px;
             }
           
            @media (min-width:769px) and (max-width:992px) {
                background-color: red;
            }
             .slideDesc{
              
                width: 40%;
                color: white;
                @media (max-width:768px) {
                   width: 100%;
                 }
              
                @media (min-width:769px) and (max-width:992px) {
                    max-width: 50%;
                    background-color: blue;
                    margin-left: 3%;
                }
                @media (min-width:993px) and (max-width:1280px) {
               
                    margin-left: 3%;
                }
                h2{
                    font-size: 48px;
                    @media (max-width:768px) {
                    font-size: 35px;
                      }
                      @media (min-width:769px) and (max-width:992px) {
                     font-size: 30px;
                    }
                 
                }
                h4{
                    font-size: 20px;
                    margin: 32px 0;
                    @media (max-width:768px) {
                      margin: 16px 0;
                       
                      }
                }
             }
             .slideImage{
                width: 30%;
           
                @media (max-width:768px) {
                    width: 80%;
                    margin-top: 10px;
                   
                  }
                  @media (min-width:769px) and (max-width:992px) {
                    width: 45%;
               
                }
                @media (min-width:993px) and (max-width:1280px) {
               
                    width: 35%;
                }
                img{
                    width: 100%;
                }
             }

        }
        .swiperPag{
      
            position: absolute;
            top: 75%;
            left: 8%;
            z-index: 1;
            @media (max-width:768px) {
               top: 92%;
               left: 5%;
              
             }
             @media (min-width:769px) and (max-width:992px) {
               top: 85%;
            }
            @media (min-width:993px) and (max-width:1024px) {
                top: 90%;
             }
            button{
                background-color: transparent;
                border: none;
                border: 2px solid  rgb(169, 169, 169);
          
                padding:13px 15px;
                border-radius: 30px;
                margin: 0 5px;
                @media (max-width:768px) {
               background-color: #D43157;
               color: aliceblue;
                 }
            }
        }
    }
}